<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/login.css" />
    <title>Home</title>
  </head>

  <body>
    <header>
      <h1>Logo</h1>
      <nav class="nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
        <input type="button" value="Login" />
      </nav>
    </header>
    <div class="login">
      <div class="form-box"><h2>LOGIN</h2></div>
      <form method="post">
        <div class="input-box">
          <span class="icon"><ion-icon name="mail"></ion-icon></span>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Email"
          />
          <label>Email</label>
        </div>
        <div class="input-box">
          <span class="password"><ion-icon name="lock-closed"></ion-icon></span>
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="Password"
          />
          <label>Password</label>
        </div>
        <div class="remember-forgot">
          <label for=""><input type="checkbox" />Remember Me?</label>
          <a href="#">Forgot Password?</a>
        </div>
        <button type="submit">Login</button>
        <div class="login-reg">
          <p>
            Don't have an Account?
            <a href="#">Register</a>
          </p>
        </div>
      </form>
    </div>
  </body>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</html>
